<h1>Login Page</h1>

<div class="row">
        <form #login = "ngForm" (ngSubmit) = "onClickSubmit(login.value)" >
            <div class="row">
      
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email"  name="email" class="validate" ngModel>
                <label for="email">Email</label>
              </div>
              <div class="input-field col s12">
                  <i class="material-icons prefix">lock</i>
                  <input id="password" type="password" name="password" class="validate" ngModel>
                  <label for="password">Password</label>
                </div>
            </div>
      
            <button class="btn waves-effect waves-light" type="submit" value="submite">Login
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
      