<h3 style="position: center;">Blog Posts</h3>
<!--
<div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey white">
        <div class="card-content black-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
            <button class="btn waves-effect white" style="color:black;" type="submit" name="action">Comment
                <i class="material-icons right">comment</i>
              </button>
                    
        </div>
      </div>
    </div>
  </div>

-->
  <div class="row" style="margin-top:200px;"> 
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="../../assets/images/test.jpg">
        
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">visibility</i></a>
        </div>
     
  <div class="chip">
      Sports
     
    </div>
        <div class="card-content" style="margin-top:-50px;">
          <h5>This is the blog title</h5>
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      
        <div class="chip" style="color: indigo">
            <img src="../../assets/images/draxLogo.png" alt="Contact Person">
            Usman Ali
          </div>
        
      </div>
    </div>
  </div>


<div class="wrapper">
    		
    <div class="card radius shadowDepth1">
        <div class="card__image border-tlr-radius">
            <img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
        </div>

        <div class="card__content card__padding">
            <div class="card__share">
                <div class="card__social">  
                    <a class="share-icon facebook" href="#"><span class="fa fa-facebook"></span></a>
                    <a class="share-icon twitter" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a>
                </div>

                <a id="share" class="share-toggle share-icon" href="#"></a>
            </div>

            <div class="card__meta">
                <a href="#">Web Design</a>
                <time>17th March</time>
            </div>

            <article class="card__article">
                <h2><a href="#">Material Design Card - For Blog Post Article</a></h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
            </article>
        </div>

        <div class="card__action">
            
            <div class="card__author">
                <img src="http://lorempixel.com/40/40/sports/" alt="user">
                <div class="card__author-content">
                    By <a href="#">John Doe</a>
                </div>
            </div>
        </div>
    </div>

    <p class="text-center">Created By <a href="https://twitter.com/mithicher">Mithicher Baro</a></p>
</div>