<h3 >Blog Posts</h3>

<div id="maincard" class="maincard" name="maincard">   
  <div *ngFor="let posts of posts$ | async" class="row" > 
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="{{posts.Image}}" style="height: 300px;" >
        
          <a class="btn-floating halfway-fab waves-effect waves-light red" href="/mypost?Post={{posts.PostID}}"><i class="material-icons">visibility</i></a>
        </div>
     
  <div class="chip blue" style="color: white">
      {{posts.Catagory}}
    </div>
        <div class="card-content" >
          <h5>{{posts.PostTitle}}</h5>
          <p>{{posts.PostMessage}}</p>
        </div>
      
        
      

        <div class="chip blue" style="color: white">
            <img src="../../assets/images/user.png" alt="Contact Person">
            {{posts.Username}}
          </div>
          
  <div class="chip blue" style="color: white">
    {{posts.DateTime}}
  </div>

<hr>

  <form [formGroup]="angForm" #comments = "ngForm"   (ngSubmit) = "onPostComment($event)" >
    <div class="row">

   
      <input id="PostID" formControlName="PostID" name="PostID"  type="hidden" value="{{posts.PostID}}"  >
  
    <div class="input-field col s6">
      <i class="material-icons prefix">comment</i>
      <input id="Comment" formControlName="Comment" name="Comment" type="text" >
      <label for="Comment">Add Comments Here</label>
    </div>
    
        <div *ngIf="angForm.controls['Comment'].invalid && (angForm.controls['Comment'].dirty || angForm.controls['Comment'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['Comment'].errors.required">
       <!-- <p style="color:red;">Post Title is required</p>--> 
      </div>
    </div>
    
  
    <button class="btn-floating blue" type="submit"  [disabled]="angForm.pristine || angForm.invalid"   value="submite"><i class="material-icons">check</i></button>

        
        
  </div>
      </form>
    
  </div>
  </div>
  </div>
</div>
