<!--- *ngIf="nav.visible"-->
<!--
  
-->
<nav  *ngIf="loggedIn">
    <div class="nav-wrapper">
      <a  href="/feed" class="brand-logo">Serverless Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a (click)="home()" routerLink="/home">Create Post</a></li>
        <li><a (click)="feed()" routerLink="/feed">Feed</a></li>
        <li><a (click)="dashboard()" routerLink="/dashboard">Dashboard</a></li>
    
        <li><a  (click)="logout()" routerLink="/logout">Logout</a></li>
    
    <li ><a routerLink="/register"></a></li>
 
      </ul>
    </div>
  </nav>

<!-- main content container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 offset-sm-2">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>