<h1>New Post</h1>

<form [formGroup]="angForm" #login = "ngForm"  (ngSubmit) = "onClickSubmit(login.value)">


        <div class="input-field col s12">
            <i class="material-icons prefix">title</i>
            <label for="PostTitle">Post Title</label>
            <input formControlName="PostTitle" id="PostTitle" type="text" ngModel>
        </div>
        <div *ngIf="angForm.controls['PostTitle'].invalid && (angForm.controls['PostTitle'].dirty || angForm.controls['PostTitle'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['PostTitle'].errors.required">
                <p style="color:red;">Post Title is required</p>
            </div>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">description</i>
            <label for="PostMessage">Post Description</label>
            <input class="form-control" formControlName="PostMessage" id="PostMessage" type="text">
        </div>
        <div *ngIf="angForm.controls['PostMessage'].invalid && (angForm.controls['PostMessage'].dirty || angForm.controls['PostMessage'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['PostMessage'].errors.required">

<p style="color:red;">Post Message is required</p>
            </div>

        </div>

        <div class="input-field col s12">
            <i class="material-icons prefix">layers</i>
            <label for="Catagory">Post Catagory</label>
            <input class="form-control" formControlName="Catagory" id="Catagory" type="text">
        </div>
        <div *ngIf="angForm.controls['Catagory'].invalid && (angForm.controls['Catagory'].dirty || angForm.controls['Catagory'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['Catagory'].errors.required">

<p style="color:red;">Catagory is required</p>
            </div>
            
        </div>


        <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Materialize Select</label>
          </div>


        
  
        <input type="file" (change)="onFileChanged($event)" formControlName="myimage" name="myimage" id="myimage">

        <div *ngIf="angForm.controls['myimage'].invalid && (angForm.controls['myimage'].dirty || angForm.controls['myimage'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['myimage'].errors.required">

<p style="color:red;">Please upload file</p>
            </div>
</div>
<br>  
<br>
        <button class="btn waves-effect waves-light" type="submit"   [disabled]="angForm.pristine || angForm.invalid" value="submite">Create Post
            <i class="material-icons right">send</i>
          </button>
        </form>
  





<!--
  <label for="imageUpload">Image Upload</label>
  <input type="file" (change)="onFileChanged($event)">

-->

<!--
<form action="#">
   
    <button (click)="onUpload()">Upload!</button>
  </form>

-->




    
